/* Full page center */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f9ebde, #f5e7c6fe);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Main container box */
.container {
    width: 90%;
    max-width: 700px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 8px 25px #e9e783fe;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #688732fe;
    color: white;
}

/* Buttons */
button {
    padding: 10px 15px;
    border: none;
    background:  #779445fe;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background:#f2ca6efe;
}